button {
  background-color: #ebebeb;
  border: none;
  box-shadow: 5px 5px 5px #818080;

  &:active {
    transform: scale(0.9);
  }

  &:last-child {
    margin-right: 0;
  }
}

.btn_sorting {
  padding: 3vh 15vh 3vh 15vh;
  margin: 1vh 1vh 0 0;
  border-radius: 3vh;
  font-size: 150%;
}

.btn_page {
  padding: 1vh 5vh;
  border-radius: 1vh;
  margin: 3vh 10vh 10vh 0;
  font-size: 300%;
}
