$backShadowColor: #3f3e3e81;
$borderEl: 1px solid rgb(124, 122, 122);
$small: 390px;

img {
  max-width: 70%;
  max-height: 70%;
  margin: auto;

  border: $borderEl;
  border-radius: 1rem;
  box-shadow: 10px 5px 1px #818080;
}

.background_btns,
.background_page {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: space-evenly;
}

.background_btns {
  box-shadow: 0px 25px 20px $backShadowColor;
  border-bottom: $borderEl;
}

.background_page {
  box-shadow: 0px -25px 20px $backShadowColor;
  border-top: $borderEl;
}

.photos {
  display: flex;

  background: #d8d8d8;
  position: relative;
  z-index: -1;
  height: 542px;
  overflow: hidden;

  .photos_elts {
    height: 90%;
    display: grid;
    margin: auto;
    grid-template-columns: 25% 25% 25%;
    justify-content: space-between;

    .opacity {
      opacity: 50%;
    }

    p {
      margin: auto;
      text-align: center;
    }
    @media screen and (max-width: $small) {
      grid-template-columns: none;
    }
  }
}

.btns {
  .btns_child {
    text-align: center;
    padding: 0;
    margin: 5% 0 2% 0;
  }
}
