$small: 390px;

.section_add-photos {
  height: 500px;
  font-size: 20px;
  padding-top: 10vh;

  border: 1px solid black;
  border-radius: 3vh;
  box-shadow: 0 -10px 10px #3f3e3e81;

  @media screen and (max-width: $small) {
    font-size: 14px;
  }
}

.form_div {
  display: grid;
  gap: 30%;
  grid-template-rows: repeat(3, 1fr);

  padding: 3rem;

  span {
    display: grid;
    gap: 5ch;
    grid-template-columns: repeat(5, 1fr);

    .item-1 {
      grid-column-start: 2;
      max-width: 100%;

      @media screen and (max-width: $small) {
        grid-column-start: 1;
      }
    }

    .item-2 {
      grid-column: 3 / 6;
      justify-self: start;
      font-size: 2ch;
      padding: 1vh;

      max-width: 100%;
    }
  }

  select {
    position: relative;
    background: #fff;

    font-size: 2ch;
    padding: 1vh;
  }
}

form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;

  button {
    padding: 1vh;
    font-size: 20px;
    width: 50%;
    border-radius: 2vh;
  }
}
